<header class="site-header">
    <div class="wrapper">
        <img src="https://s.gravatar.com/avatar/15bbe55ddbc6b5e82dc65166ce572a14?s=25">
        <a href="/" class="site-title">Craig Smarkus</a><span class="site-subtitle"></span>
        {%- include nav.html -%}
    </div>
    <div class="page-cover" style="background: url({{ page.background | default: "/assets/img/default.jpg" }}); background-size: cover; background-position: center center; height: {{ page.background-size | default: 200 }}px;"></div>
</header>