* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background: $background-color;
    color: $text-color;
}

p, blockquote, pre {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a {
    color: $link-color;
    text-decoration: none;
}

.icon {
    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        fill: white;
    }
}